a.togg {
  @media (any-pointer: coarse) {
    // Make sure comment collapse buttons are easier to hit on mobile
    padding: 0.5rem;
  }
}

// Upvote buttons next to post titles
.title + .votelinks a {
  @media (any-pointer: coarse) {
    // Make sure the upvote button is easier to hit on mobile
    padding: 0 0.5rem;
  }
}

// Voting buttons next to comments
.ind + .votelinks a {
  @media (any-pointer: coarse) {
    // Make sure voting buttons are easier to hit on mobile
    padding: 0.5rem;
  }
}
